<!-- Footer -->
<footer
class="text-center   text-lg-start text-white  "
style="background-color: #1c2331"
>
<!-- Section: Social media -->
<section
   class="d-flex justify-content-between p-4"
   style="background-color: rgba(230, 173, 76, 0.897)">

<div class="me-5">
<span>Sosyal medya hesaplarım:</span>
</div>
<!-- Left -->

<!-- Right -->
<div>
<a href="" style="text-decoration:none;" class="  shadow-lg rounded border p-2 text-white me-4">
<i class="fab fa-facebook-f"></i>
</a>
<a href="" style="text-decoration:none;" class="  shadow-lg rounded border p-2 text-white me-4">
<i class="fab fa-twitter"></i>
</a>
<a href="" style="text-decoration:none;" class="  shadow-lg rounded border p-2 text-white me-4">
<i class="fab fa-google"></i>
</a>
<a href="" style="text-decoration:none;" class="  shadow-lg rounded border p-2 text-white me-4">
<i class="fab fa-instagram"></i>
</a>
<a href="" style="text-decoration:none;" class=" shadow-lg rounded border p-2 text-white me-4">
<i class="fab fa-linkedin"></i>
</a>
<a href="" style="text-decoration:none;" class=" shadow-lg rounded border p-2 text-white me-4">
<i class="fab fa-github"></i>
</a>
</div>
<!-- Right -->
</section>
<!-- Section: Social media -->

<!-- Section: Links  -->
<section class="">
<div class="container text-center text-md-start mt-5">
<!-- Grid row -->
<div class="row mt-3">
<!-- Grid column -->
<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
  <!-- Content -->
  <h6 class=" fw-bold">FuSD</h6>
  <hr
      class="mb-4 mt-0 d-inline-block mx-auto"
      style="width: 60px; background-color: orange; height: 2px"
      />
  <p>
    Sayfanın tüm kullanım hakları tarafımca gizli tutulmaktadır.
    
  </p>
</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
  <!-- Links -->
  <h6 class="text-uppercase fw-bold">Ürünler</h6>
  <hr
      class="mb-4 mt-0 d-inline-block mx-auto"
      style="width: 60px; background-color: orange; height: 2px"
      />
  <p>
    <a href="#!" class="text-white">Yazılım</a>
  </p>
  <p>
    <a href="#!" class="text-white">Kripto</a>
  </p>
  <p>
    <a href="#!" class="text-white">Matematik</a>
  </p>
  <p>
    <a href="#!" class="text-white">Blog Yazıları</a>
  </p>
</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  <!-- Links -->
  <h6 class="text-uppercase fw-bold">Faydalı linkler</h6>
  <hr
      class="mb-4 mt-0 d-inline-block mx-auto"
      style="width: 60px; background-color: orange; height: 2px"
      />
  <p>
    <a href="{% url 'register' %}" class="text-white">Hesap Oluştur</a>
  </p>
  <p>
    <a href="{% url 'login' %}" class="text-white">Giriş yap</a>
  </p>
  <p>
    <!-- Buraya form doldur linki bırak  -->
    <a href="#!" class="text-white">Yardım</a> 
  </p>
</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  <!-- Links -->
  <h6 class="text-uppercase fw-bold">İletişim</h6>
  <hr
      class="mb-4 mt-0 d-inline-block mx-auto"
      style="width: 60px; background-color: orange"
      />
  <p><i class="fas fa-home mr-3"></i> Edirne, Keşan 22800, TR</p>
  <p><i class="fas fa-envelope mr-3"></i> umursavut@gmail.com</p>
  <p><i class="fas fa-phone mr-3"></i> +90-532-170-93-63</p>
 
</div>
<!-- Grid column -->
</div>
<!-- Grid row -->
</div>
</section>
<!-- Section: Links  -->

<!-- Copyright -->
<div
class="text-center p-3"
style="background-color: rgba(0, 0, 0, 0.2)"
>
© 2022 Copyright:
<a class="text-white" href="{% url 'login' %}"
>UmurSavut</a
>
</div>
<!-- Copyright -->
</footer>
<!-- Footer -->
