{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'özelders/css/style.css' %}">
    <script src="https://kit.fontawesome.com/6817205a99.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body> 
      {% include 'özelders/partials/_hero_image.html' %}


        <div class="container mt-4">
            <div class="div">
                <h1 class=" text-center fw-bold " >Yazılım Başlık</h1>
            </div>
        </div>
      <div class="container-fluid  kripto  ">
        <div class="row">
            <div class="col-6  yazi px-3 py-2">
                <img src="{% static 'özelders/img/yazılım.jpg' %}" alt="">
            </div>
            <div class="col-6  ">
                <p>Lorem ipsum, dolor sit amet consectetur 
                    adipisicing elit. Excepturi eligendi corporis tenetur
                     a sint voluptas aut itaque esse ullam qui, repudiandae 
                     deserunt magnam soluta unde, corrupti molestias possimus 
                     hic illo!
                    <br><br>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, illum modi eligendi eaque,
                 eius quidem earum, hic dolores est quod amet saepe repellendus velit error optio vel voluptatem
                  aliquam libero!
                  <br><br>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, illum modi eligendi eaque,
                   eius quidem earum, hic dolores est quod amet saepe repellendus velit error optio vel voluptatem
                    aliquam libero!
                    <br><br>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, illum modi eligendi eaque,
                     eius quidem earum, hic dolores est quod amet saepe repellendus velit error optio vel voluptatem
                      aliquam libero!</p>
                
            </div>
         </div> 
    </div>
    
    <div class="container mt-4">
        <div class="div">
            <h1 class=" text-center fw-bold " >Kripto başlık</h1>
        </div>
    </div>
    </div>
    <div class="container-fluid">
    <div class="container-fluid  kripto ">
        
        <div class="row">
            <div class="col-6  yazi px-3 py-2">
                <p>Lorem ipsum, dolor sit amet consectetur 
                    adipisicing elit. Excepturi eligendi corporis tenetur
                     a sint voluptas aut itaque esse ullam qui, repudiandae 
                     deserunt magnam soluta unde, corrupti molestias possimus 
                     hic illo!
                    <br><br>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, illum modi eligendi eaque,
                 eius quidem earum, hic dolores est quod amet saepe repellendus velit error optio vel voluptatem
                  aliquam libero!
                  <br><br>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, illum modi eligendi eaque,
                   eius quidem earum, hic dolores est quod amet saepe repellendus velit error optio vel voluptatem
                    aliquam libero!
                    <br><br>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, illum modi eligendi eaque,
                     eius quidem earum, hic dolores est quod amet saepe repellendus velit error optio vel voluptatem
                      aliquam libero!</p>
            </div>
            <div class="col-6  ">
                <img src="{% static 'özelders/img/kripto1.jpg' %}" alt="">
            </div>
         </div> 
    </div>
    
    <div class="container- mt-4 kripto">
        <div class="div">
            <h1 class=" text-center fw-bold " >Ders Başlık</h1>
        </div>
        <div class="row">
            <div class="col-6  yazi px-3 py-2">
                <img src="{% static 'özelders/img/matematik.jpg' %}" alt="">
            </div>
            <div class="col-6  ">
                <p>Lorem ipsum, dolor sit amet consectetur 
                    adipisicing elit. Excepturi eligendi corporis tenetur
                     a sint voluptas aut itaque esse ullam qui, repudiandae 
                     deserunt magnam soluta unde, corrupti molestias possimus 
                     hic illo!
                    <br><br>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, illum modi eligendi eaque,
                 eius quidem earum, hic dolores est quod amet saepe repellendus velit error optio vel voluptatem
                  aliquam libero!
                  <br><br>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, illum modi eligendi eaque,
                   eius quidem earum, hic dolores est quod amet saepe repellendus velit error optio vel voluptatem
                    aliquam libero!
                    <br><br>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, illum modi eligendi eaque,
                     eius quidem earum, hic dolores est quod amet saepe repellendus velit error optio vel voluptatem
                      aliquam libero!</p>
            </div>
         </div> 
    </div>

    <div class="div">
        Buraya forum alacağız tabi bu formu doldurup iletişime geçenin kaydını backend tarafında tutmak gerekir eksiğini tamamla!
    </div>
    <!-- Remove the container if you want to extend the Footer to full width. -->


  
  
    
    
    
</body>
</html> 