{% extends "özelders/base.html" %}

{% load static %}

{% block content %}
<div class="container">
    <form action="" method="POST" class="w-50 m-auto  text-light  p-4 position-absolute top-20 start-0" >
        {% csrf_token %}
        <label for="">Kullanıcı Adı</label>
        <input type="text" name="kullanici" id="" class="form-control">
        <label for="">Email</label>
        <input type="email" name="email" id="" class="form-control">
        <label for="">Şifre</label>
        <input type="password" name="sifre" id="" class="form-control">
        <label for="">Şifre Onay</label>
        <input type="password" name="sifre2" id="" class="form-control">
        <input type="submit" value="Kayit Ol" class="btn btn-warning mt-2">
    </form>
</div>

{% endblock content %}